/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* shared style */
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* header style */
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 200px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 18px;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
.banner{
    margin-top: 120px;
}
.banner-containt{
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 64px;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
    color: #727272;
}
.btn-priymary{
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #FF900E;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}
.banner-pic{
    margin-top: 30px;
}
img{
    width: 100%;
}
/* features section start */
main{
    max-width: 1400px;
    height: 0 auto;
}
.features-cotainer{
    background-color: #FFF;
    padding: 50px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.features-pic{
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 20px;
}
.features-pic img{
    width: 100%;
}
.features-containt{
    margin-left: 40px;
}
.features-containt h3{
    width: 500px;
    font-size: 45px;
    font-weight: 500;
    color: #727272;
}
.features-title1{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
.features-title2{
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}
.features-containt p{
    width: 450px;
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    line-height: 26px;
    margin-top: 20px;
}
/* section facts start */
.facts{
    padding: 50px 200px;
}
.facts h3{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}
.facts .facts-title1{
    width: 500px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #727272;
    margin-top: 20px;
}
.facts-container{
    display: flex;
    justify-content: space-evenly;
    padding: 60px 30px;
    gap: 60px;
    
}
.facts-box{
    width: 180px;
    height: 130px;
    padding: 20px 10px;
    border: 1px solid #FF900E;
    text-align: center;
}
.facts-box img{
    width: 30%;
}
.facts-box .number{
    margin-top: 10px;
    font-size: 25px;
    font-weight: 600;
    color: #424242;
}
.facts-descripton{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}
/* sponspors section start */
.sponspors{
    padding: 20px 200px;
    margin-bottom: 50px;
}
.sponspors-containt{
    text-align: center;
    width: 600px;
    margin-left: 120px;
}
.sponspors-taitle{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}
.sponspors-description{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #727272;
}
.sponspors-sub-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    gap: 90px;
}
.sponspors-sub-container img{
    width: 100%;
}
footer{
    padding: 10px 200px;
}
.footer-containt{
    width: 850px;
    height: 50px;
    border-radius: 8px;
    background-color: #FFF4E7;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.copy{
    width: 600px;
    font-size: 20px;
    font-weight: 400px;
    color: #424242;

}

/* media quarey start */
@media screen and (max-width: 576px) {
     header, .features-cotainer, .facts, .facts-container{
        padding: 20px;
     }
     nav, .features-cotainer,
     .facts-container{
        flex-direction: column;
     }
     .features-pic{
        grid-template-columns: 1fr;
     }
     nav ul, .features-containt{
        margin-top: 30px;
        padding-left: 20px;
     }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    header, .features-cotainer{
        padding: 50px;
    }
    nav, .features-cotainer{
        flex-direction: column;
    }
    nav ul{
        margin-top: 30px;
        padding-left: 20px;
     }
     .features-containt{
        margin-top: 30px;
     }
}